/notebooks /.ipynb_checkpoints/
.DS_Store
.idea/
backend/__pycache__/
backend/src/__init__.py
backend/src/__pycache__
backend/src/data/__init__.py
backend/src/data/__pycache__
backend/src/evaluate/__init__.py
backend/src/evaluate/__pycache__
backend/src/pipelines/__init__.py
backend/src/pipelines/__pycache__
backend/src/train/__init__.py
backend/src/train/__pycache__
backend/src/transform/__init__.py
backend/src/transform/__pycache__
config/.DS_Store
data/.DS_Store
data/check/.DS_Store
data/processed/.DS_Store
data/raw/.DS_Store
frontend/__pycache__/main.cpython-38.pyc
frontend/src/__init__.py
frontend/src/__pycache__
frontend/src/data/__init__.py
frontend/src/data/__pycache__
frontend/src/evaluate/__init__.py
frontend/src/evaluate/__pycache__
frontend/src/plotting/__init__.py
frontend/src/plotting/__pycache__
frontend/src/train/__init__.py
frontend/src/train/__pycache__
